@charset "UTF-8";

/*
Typical Device Breakpoints
—–––––––––––––––––––––––––––––
pequenas telas: até 600px
celular: de 600px a 768px
Tablets: de 768px a 992px
Desktop: de 992px a 1200px
Frandes telas: acima de 1200px
—–––––––––––––––––––––––––––––
*/

@media screen and (min-width: 600px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    #login {
        width: 80vw;
        height: 290px;
    }
    #login > #imagem {
        float: left;
        width: 40%;
        height: 100%;
    }
    #login > #formulario {
        float: right;
        width: 60%;
    }
    #formulario > h1 {
        font-size: 2em;
    }
    #formulario > p {
        font-size: 1.2em;
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    #login {
        width: 950px;
        height: 350px;
    }
    #login > #imagem {
        float: right;
        width: 50%;
        height: 100%;
    }
    #login > #formulario {
        float: left;
        width: 50%;
    }
    #formulario > h1 {
        font-size: 2.5em;
    }
    #formulario > p {
        font-size: 1.4em;
        margin: 20px 0;
    }
}
